<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>add</string>
	<string>camera</string>
	<string>edit</string>
	<string>search</string>
	<string>favs</string>
	<string>delete</string>
	<string>heart</string>
	<string>phone</string>
	<string>settings</string>
	<string>add</string>
	<string>edit</string>
	<string>camera</string>
	<string>favs</string>
	<string>settings</string>
	<string>phone</string>
	<string>phone</string>
	<string>heart</string>
</array>
</plist>
